body {
    height: 100vh; 
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 153, 255, 0.2) 20%, rgba(255, 102, 0, 0.8) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.logo {
    width: 100px; 
    height: auto; 
    max-width: 100%; 
    display: block;
    margin: 0 auto 5px auto;
}

.head2{
    font-size: 1.5em; /* Tamaño de la fuente */
    font-weight: bold;
    background: linear-gradient(90deg, #FF8000, #FF6600, #E700E1);
    background-clip: text; /* Para navegadores que soportan esta propiedad */
    -webkit-background-clip: text; /* Prefijo para Safari y Chrome */
    color: transparent; /* Relleno de texto transparente */
    -webkit-text-fill-color: transparent; /* Para Chrome/Safari */
  
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(163deg, #FF6600 0%, rgb(255, 255, 255) 100%);
    border-radius: 40px;
    transition: box-shadow 0.4s;
    padding: 0.1em; 
    max-width: 290px; 
    position: relative; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.card2 {
    transition: transform 0.2s, border-radius 0.2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 0 30px 1px rgba(29, 125, 204, 0.3);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2em;
    background-color: #171717;
    border-radius: 35px;
}

#heading {
    text-align: center;
    margin: auto;
    color: #fff;
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    padding: 0.6em;
    background-color: #171717;
    border-radius: 25px;
    box-shadow: inset 2px 5px 10px #050505;
}

.input-field {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: #d3d3d3;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-top: 2.5em;
}

.button1,
.button2,
.button3 {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    color: white;
    transition: background-color 0.4s, color 0.4s;
    background-color: #252525;
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el ratón */
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2); /* Resplandor inicial */
}

.button1:hover,
.button2:hover {
    background-color: #FF8000;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5); /* Resplandor al pasar el ratón */
}

.button3:hover {
    background-color: red;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5); /* Resplandor al pasar el ratón */
}

/* Estilos para las animaciones con JavaScript */
.animated-button {
    animation: buttonAnimation 1s infinite;
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

